body {
  margin: 0;

}
.header{
  background-image: url('./images/velos.jpg');
  height: 30vh;
}

.title{
  color: whitesmoke;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:  80px;
  text-align: center;
}